.board {
  background-color: white;
  margin: 16px 16px;
  padding: 16px 16px;
  height: 161px;
  background: #F4F4F4;
  border-radius: 10px;
}

.board_image {
  height: 180px;
  position: relative;
  overflow: hidden;
  margin: -16px -16px 16px;
}

.board_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.board h2 {
  font-size: 16px;
}

.board_title {
  font-size: 18px;
}

.board_comment {
  padding: 8px 0;
}

.board_detail {
  padding-top: 10px;
  display: flex;
  font-size: 12px;
  position: relative;
}

.board_detail img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 16px;
}

.board_detail_actions {
  right: 0px;
  position: absolute;
}

.board_content {
  padding: 24px 0 32px;
}

.board_heart {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.board_heart img {
  width: 32px;
  height: 32px;
}
