.content {
  background-color: white;
  margin: 0px 16px;
  padding: 16px 16px;
  position: relative;
  border-radius: 10px;
}

.content_image {
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.content_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.content h2 {
  font-size: 16px;
}

.content_title {
  font-size: 22px;
  overflow: hidden;
}

.content_comment {
  padding: 8px 0;
}

.content_detail {
  padding-top: 10px;
  display: flex;
  font-size: 12px;
  position: relative;
}

.content_detail img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  border-radius: 10px;
}

.content_detail_actions {
  right: 0px;
  position: absolute;
}

.content_text {
  background: #F4F4F4;
  border-radius: 10px;
  padding: 16px 16px;
  font-size: 14px;
}

.content_heart {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.content_heart img {
  width: 32px;
  height: 32px;
}
