.task {
  background-color: white;
  padding: 16px 16px;
  margin: 16px 0px;
  background: #F4F4F4;
  border-radius: 10px;
}

.task_image {
  height: 180px;
  position: relative;
  overflow: hidden;
  margin: -16px -16px 16px;
}

.task_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.task h2 {
  font-size: 16px;
}

.task_title {
  font-size: 18px;
}

.task_comment {
  padding: 8px 0;
}

.task_detail {
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.task_detail img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 16px;
}

.task_detail_comment {
  opacity: 0.2;
  display: flex;
  position: relative;
  font-size: 20px;
}

.task_content {
  left: 0%;
  right: 0%;
  padding: 8px 0;
}

.task_content img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 16px;
}

.task_content_texts {
  opacity: 0.4;
}
